@page
@model ShoppingCartFillModel
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");

}

<div id="shopping-cart--fill">
    <div class="grid">
        <div class="row">
            <div class="shopping-cart__title col c-10 c-o-1">
                GIỎ HÀNG
                <span class="shopping-cart__title-quality">
                    (@Model.CountBookOfCart sản phẩm)
                </span>
            </div>
        </div>
        <div class="row">
            @if (@Model.CountBookOfCart == 0)
            {
                <div class="shopping-cart__cart--empty col c-10 c-o-1" style="padding-bottom:24px;border-radius: 8px;">
                    <div class="shopping-cart__img--empty">
                        <img src="~/img/ico_emptycart.svg" alt="Empty Shopping cart" width=100px>
                    </div>
                    <div class="shopping-cart__text--empty">
                        Chưa có sản phẩm trong giỏ hàng của bạn
                    </div>
                    <button class="btn--blue">
                        <a asp-area="" asp-page="/Index">
                            MUA SẮM NGAY
                        </a>
                    </button>
                </div>
            }
            else
            {
                <div class="col c-7 c-o-1">
                    <div class="shopping-cart__cart--fill grid" style="width: 100%; height: auto; border-radius: 8px;">
                        <div class="shopping-cart__cart-title row">
                            <input type="checkbox" class="cart__input col c-1" style="padding-right: 0;">
                            <p class="col c-8">Chọn tất cả</p>
                            <div class="cart__list--delete col c-3">
                                <i class="fa-solid fa-trash-can"></i>Xóa
                            </div>
                        </div>
                        <div class="shopping-cart__cart-list grid">
                            @foreach (var cartDetail in Model.CartDetails)
                            {
                                var Book = Model.GetBookByCartDetail(cartDetail);
                                var imgPath = Book.Image + "/cover.jpg";
                                <form class="cart__flex-item row" method="post">
                                    <input name="bookId" value="@Book.Id" type="number" style="display: none;">
                                    <label asp-for="@Book.Id" class="lable-checkbox col c-1" >
                                        <input type="checkbox" class="cart__input" style="padding-right: 0;" asp-route="@Book.Id" asp-page-handler="AddOrder">
                                    </label>
                                    <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="order-book__img col c-2"><img src="@Url.Content(imgPath)" alt="Ảnh sách" style="height: 140px;"></a>
                                    <div class="cart__book-desc col c-5">
                                        <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id"  class="cart__book-name">
                                            @Book.Name
                                        </a>
                                        <p class="cart__book-provider">
                                            Nhà cung cấp:
                                            <span>@Book.Publisher</span>
                                        </p>
                                    </div>
                                    <div class="cart__book-price col c-3">
                                        <p>@Book.GetPriceString(Book.GetCurrentPrice()) đ</p>
                                        <span class="form-group d-flex">
                                            <button class="input-group-text minus-btn" style="border-radius: 8px 0 0 8px; border-right-style: none;" type="submit" asp-page-handler="MinusQuantity">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <input class="form-control quantity-input" type="text" asp-for="@cartDetail.Quantity" value="@cartDetail.Quantity">
                                            <button class="input-group-text plus-btn" style="border-radius: 0 8px 8px 0; border-left-style: none;" type="submit" asp-page-handler="PlusQuantity">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <button class="col c-1 " style="border: none;background: none;" type="submit" asp-page-handler="DeleteBookOfCart" >
                                        <i class="fa-solid fa-trash-can icon-delete"></i>
                                    </button>
                                </form>
                            }

                        </div>
                    </div>
                </div>
                <div class="col c-3">
                    <div class="nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                        <div class="order__title">
                            Chi tiết đơn hàng
                        </div>
                        <div class="order-detail__desc grid">
                            <div class="row">
                                <div class="col c-7" style="padding: 0;">Tổng giá (1 sách)</div>
                                <div class="col c-5" style="padding: 0; text-align:right;">27.000 đ</div>
                            </div>
                            <div class="row">
                                <div class="col c-7" style="padding: 0;">Phí giao hàng</div>
                                <div class="col c-5" style="padding: 0; text-align:right;">13.000 đ</div>
                            </div>
                            <div class="row">
                                <div class="col c-7" style="padding: 0;">Tổng tiền</div>
                                <div class="col c-5" style="padding: 0; text-align:right; color:var(--primary-color);">40.000 đ</div>
                            </div>
                        </div>
                        <div class="btn--confirm">
                            <button class="btn--blue" style="width:100%;">
                                <a asp-area="Order" asp-page="ConfirmPackage">
                                    XÁC NHẬN ĐƠN HÀNG (1)
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <!-- JavaScript -->
    <!-- Select Book -->
    <script>
        var btnChecks=document.getElementsByClassName('cart__input');
        var shoppingcartItems=document.getElementsByClassName('cart__flex-item');

        btnChecks[0].addEventListener('click',function(event){
                if (this.checked){
                    for(var item of shoppingcartItems){
                        item.classList.add('cart__flex-item--checked');
                    }
                    for(var item of btnChecks){
                        item.checked=true;
                    }
                }
                else {
                    for(var item of shoppingcartItems){
                        item.classList.remove('cart__flex-item--checked');
                    }
                    for(var item of btnChecks){
                        item.checked=false;
                    }
                }
            })
        for (var i=1;i<btnChecks.length;i++){
            btnChecks[i].addEventListener('click',function(event){
                if (this.checked){
                    (this.parentElement).parentElement.classList.add('cart__flex-item--checked');
                    
                }
                else{
                    (this.parentElement).parentElement.classList.remove('cart__flex-item--checked');
                    btnChecks[0].checked=false;
                }
            })
        }
    </script>

    <!-- Change Quatity -->
    @*@section scripts{
        <script>
            const minusBtns = document.querySelectorAll('.minus-btn');
            const plusBtns = document.querySelectorAll('.plus-btn');

            minusBtns.forEach(button => {
              button.addEventListener('click', () => {
                const input = button.nextElementSibling;
                let value = parseInt(input.value);
                if (value > 1) {
                  input.value = --value;
                }
              });
            });

            plusBtns.forEach(button => {
              button.addEventListener('click', () => {
                const input = button.previousElementSibling;
                let value = parseInt(input.value);
                input.value = ++value;
              });
            });
        </script>*@
    }
</div>


