@page
@model EvaluateUserModel
@using TADA.Utilities;
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewData["Title"] = "Đơn hàng";
}

<div id="evaluate-user">
    <div class="grid">
        <div class="row">
            <div class="shopping-cart__title col c-10 c-o-1">
                ĐÁNH GIÁ
            </div>
        </div>
        <div class="row">
            <div class="col c-7 c-o-1">

                @foreach(var orderDetail in Model.OrderDetails)
                {
                    var Book = Model.GetBookByOrderDetail(orderDetail);
                    var imgPath = Book.Image + "/cover.jpg";
                    <form method="post" enctype="multipart/form-data" >
                        <div class="evaluate-book" style="width: 100%; height:auto; border-radius: 8px;">
                            <div class="row cart__flex-item evaluate__book-name">
                                <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="order-book__img col c-2" style=" text-align: center;"><img src="@Url.Content(imgPath)" alt="Ảnh sách" style=" height: 150px;"></a>
                                <div class="cart__book-desc col c-9">
                                    <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="cart__book-name">
                                        @Book.Name
                                    </a>
                                    <p class="cart__book-provider">
                                        Nhà xuất bản:
                                        <span>@Book.Publisher</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row evaluate-book__item">
                                <div class="col c-4">
                                    Đánh giá tổng quát
                                </div>
                                <div class="star-rating col c-3">
                                    <label class="fa-sharp fa-regular fa-star isChecked" data-star-value="1"></label>
                                    <label class="fa-sharp fa-regular fa-star isChecked" data-star-value="2"></label>
                                    <label class="fa-sharp fa-regular fa-star isChecked" data-star-value="3"></label>
                                    <label class="fa-sharp fa-regular fa-star isChecked" data-star-value="4"></label>
                                    <label class="fa-sharp fa-regular fa-star isChecked" data-star-value="5"></label>
                                    <input class="js-input-rating" type="number" value="5" asp-for="@Model.Rating" style="display:none;">
                                </div>
                            </div>
                            <div class="row evaluate-book__item">
                                <p class="book-comment">Nhận xét về sách</p>
                                <div class="book-comment__textarea">
                                    <textarea asp-for="@Model.Comment" cols="30" placeholder="Bạn nghĩ gì về chất lượng và hình thức sách?"></textarea>
                                </div>
                            </div>
                            <div class="row evaluate-book__item evaluate-book__file" style="padding-bottom: 16px;">
                                <input class="form-control" name="imageFile" id="imageFile" type="file" accept=".jpg, .jpeg, .png">
                            </div>
                            
                        </div>
                        <div class="form-group mt-3 mb-4">
                            <button type="submit" class="btn btn-primary btn-md" asp-page-handler="AddReview" asp-route-orderId="@Model.Order.Id" asp-route-bookId="@orderDetail.BookId" style="width: 20%">
                                GỬI
                            </button>
                        </div>
                    </form>
                    
                }
            </div>
                
            <div class="col c-3">
                <div class="nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                    <div class="order__title">
                        Chi tiết đơn hàng
                    </div>
                    <div class="order-detail__desc grid">
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng giá (@Model.OrderDetails.Count sách)</div>
                            <div class="col c-5" style="padding: 0; text-align:right;">@UIHelper.GetPriceString(Model.SumPriceOfBooks()) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Phí giao hàng</div>
                            <div class="col c-5" style="padding: 0; text-align:right;">@UIHelper.GetPriceString(Model.Order.ShipFee) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng tiền</div>
                            <div class="col c-5" style="padding: 0; text-align:right; color:var(--primary-color);">@UIHelper.GetPriceString(Model.SumPriceOfOrder()) đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $('.star-rating label').on('click', function () {
            var rating =(this).closest('.star-rating');
            var value = $(this).data("star-value");
            for (var i = 1; i <= parseInt(value);i++){
                if (!($(rating).find('label[data-star-value="' + i + '"]').hasClass('isChecked'))) {
                    $(rating).find('label[data-star-value="' + i + '"]').addClass('isChecked');
                }
            }
            
            for (var i = parseInt(value)+1; i <= 5; i++) {
                if ($(rating).find('label[data-star-value="' + i + '"]').hasClass('isChecked')){
                    $(rating).find('label[data-star-value="' + i + '"]').removeClass('isChecked');
                }
            }
            var input = $(rating).find('.js-input-rating');
            input.val(parseInt(value));
        });


        
    </script>
}

