@page 
@model BookDetailUserModel
@using TADA.Model.Entity
@{
    ViewData["Title"] = "Chi tiết sách";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}

@{
    var oldPrice = Model.Book.Price.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")).Replace(',', '.'); 
    var newPrice = (Model.Book.Price * (100 - Model.Book.Promotion) / 100).ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")).Replace(',', '.');
    var dimension = Model.Book.Length + " x " + Model.Book.Width + " cm";
    var descriptionText = "";
    var filePath = Model.Book.Description;
    if (System.IO.File.Exists(filePath))
    {
        using (StreamReader sr = new StreamReader(filePath))
        {
            descriptionText = sr.ReadToEnd();
            descriptionText = descriptionText.Replace("\n", "<br>");
            sr.Close();
        }
    }
    var imgPath = Model.Book.Image + "/cover.jpg";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="post" class="row bg-white px-3 py-4 mt-3 rounded">
                <div class="col-5">
                    <div class="book-image" style="border: 0.5px solid #CCCCCC; display: flex; justify-content:center">
                        <img src="@Url.Content(imgPath)" alt="Book image">
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="shopping-cart" asp-route-id="@Model.Book.Id" asp-page-handler="AddToCart">
                                <i class="fas fa-shopping-cart" style="font-size: 1rem; margin-right: 4px; font-weight: 700; color: var(--primary-color)"></i>
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" asp-route-id="@Model.Book.Id" asp-page-handler="OrderNow" style="width: 100%; text-transform: none; padding: 8px">
                                Mua ngay
                            </button>
                        </div>
                    </div>
                </div>
                <div class="book-essential-detail col-7 px-5">
                    <h4 class="fw-bold" style="line-height: 2rem">@Model.Book.Name</h4>
                    <div class="row mt-4">
                        <div class="provider col-6">
                            <span>Nhà cung cấp:</span>
                            <span style="color: var(--primary-color)">@Model.Book.ProviderName</span>
                        </div>
                        <div class="author col-6">
                            <span>Tác giả:</span>
                            <span style="font-weight: bold;">@Model.Book.Author</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="publisher col-6">
                            <span>Nhà xuất bản:</span>
                            <span style="font-weight: bold;">@Model.Book.Publisher</span>
                        </div>
                        <div class="cover col-6">
                            <span>Hình thức bìa:</span>
                            <span style="font-weight: bold;">@Model.Book.Cover</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 4rem">
                        <div class="rating-star">
                            @{
                                for (int i = 1; i <= (int)Model.Book.AverageRating; i++)
                                {
                                    <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                }
                                if (Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.2)
                                {
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                                else if (Model.Book.AverageRating - (int)Model.Book.AverageRating >= 0.3 && Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.7)
                                {
                                    <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                                else
                                {
                                    <span class="fas fa-star" style="color: #F6A500;"></span>
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                            }
                            <span class="ms-1" style="color: var(--primary-color)">(@Model.Book.NumberOfReview đánh giá)</span>
                        </div>
                    </div>
                    <div class="book-price mt-2 d-flex align-items-center">
                        @if(Model.Book.Promotion != 0)
                        {
                            <span class="new-price">@Model.Book.GetPriceString(Model.Book.GetCurrentPrice()) đ</span>
                            <span class="old-price">@Model.Book.GetPriceString(Model.Book.Price) đ</span>
                            <span class="sale-percent">@(-Model.Book.Promotion)%</span>
                        }
                        else
                        {
                            <span class="new-price">@Model.Book.GetPriceString(Model.Book.GetCurrentPrice()) đ</span>
                        }

                    </div>
                    <div class="quantity mt-3 d-flex" style="align-items: baseline">
                        <lable for="quantity" style="font-weight: bold; margin-right: 2rem">Số lượng:</lable>
                        <span class="form-group d-flex">
                            <button class="input-group-text minus-btn" style="border-radius: 8px 0 0 8px; border-right-style: none;" type="button"><i class="fas fa-minus"></i></button>
                            <input class="form-control" type="text" asp-for="@Model.Quantity" value="1" id="quantity">
                            <button class="input-group-text plus-btn" style="border-radius: 0 8px 8px 0; border-left-style: none;" type="button"><i class="fas fa-plus"></i></button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="row bg-white mt-3 rounded px-3 py-4">
                <div class="col-12">
                    <h5 style="font-weight: bold">Thông tin sách</h5>
                    <div class="book-detail">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Tên nhà cung cấp</td>
                                    <td>@Model.Book.ProviderName</td>
                                </tr>
                                <tr>
                                    <td>Tác giả</td>
                                    <td>@Model.Book.Author</td>
                                </tr>
                                <tr>
                                    <td>Nhà xuất bản</td>
                                    <td>@Model.Book.Publisher</td>
                                </tr>
                                <tr>
                                    <td>Năm xuất bản</td>
                                    <td>@Model.Book.PublicationYear</td>
                                </tr>
                                <tr>
                                    <td>Thể loại</td>
                                    <td>@Model.Book.Genre</td>
                                </tr>
                                <tr>
                                    <td>Trọng lượng (gr)</td>
                                    <td>@Model.Book.Weight</td>
                                </tr>
                                <tr>
                                    <td>Kích thước bao bì</td>
                                    <td>@dimension</td>
                                </tr>
                                <tr>
                                    <td>Số trang</td>
                                    <td>@Model.Book.Pages</td>
                                </tr>
                                <tr>
                                    <td>Hình thức</td>
                                    <td>@Model.Book.Cover</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 book-desciption mt-3">
                    <p style="text-align: justify">
                        @Html.Raw(descriptionText)
                    </p>
                </div>
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <button type="button" class="read-more" style="width: 20%">Xem thêm</button>
                </div>
            </div>
            <div class="row bg-white my-3 px-4 py-4 rounded">
                <h5 style="font-weight: bold">Đánh giá sản phẩm</h5>
                <div class="col-12 px-3 d-flex">
                    <div class="rating-detail">
                        <div class="rating-number" style="text-align: center;">
                            <span style="font-weight: bold; font-size: 4rem">@Model.Book.AverageRating</span>
                            <span style="font-weight: bold; font-size: 3rem">/5</span>
                        </div>
                        <div class="rating-star" style="margin-top: -0.8rem; text-align: center;">
                            @{
                                for(int i = 1; i <= (int)Model.Book.AverageRating; i++)
                                {
                                    <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                }
                                if (Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.2)
                                {
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                                else if (Model.Book.AverageRating - (int)Model.Book.AverageRating >= 0.3 && Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.7)
                                {
                                    <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                                else
                                {
                                    <span class="fas fa-star" style="color: #F6A500;"></span>
                                    for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                            }
                            <div class="mt-1" style="color: var(--primary-color)">(@Model.Book.NumberOfReview đánh giá)</div>
                        </div>
                    </div>
                    <div class="rating-bar">
                        <div class="rating-level">
                            <label for="review-rating-bar">5<i class="fas fa-star"></i></label>
                            <progress id="review-rating-bar" max="100" value="@Model.FiveStar"></progress>
                            <span class="ms-2">@Model.FiveStar %</span>
                        </div>
                        <div class="rating-level">
                            <label for="review-rating-bar">4<i class="fas fa-star"></i></label>
                            <progress id="review-rating-bar" max="100" value="@Model.FourStar"></progress>
                            <span class="ms-2">@Model.FourStar %</span>
                        </div>
                        <div class="rating-level">
                            <label for="review-rating-bar">3<i class="fas fa-star"></i></label>
                            <progress id="review-rating-bar" max="100" value="@Model.ThreeStar"></progress>
                            <span class="ms-2">@Model.ThreeStar %</span>
                        </div>
                        <div class="rating-level">
                            <label for="review-rating-bar">2<i class="fas fa-star"></i></label>
                            <progress id="review-rating-bar" max="100" value="@Model.TwoStar"></progress>
                            <span class="ms-2">@Model.TwoStar %</span>
                        </div>
                        <div class="rating-level">
                            <label for="review-rating-bar">1<i class="fas fa-star"></i></label>
                            <progress id="review-rating-bar" max="100" value="@Model.OneStar"></progress>
                            <span class="ms-2">@Model.OneStar %</span>
                        </div>
                    </div>
                </div>
                @{
                    foreach(var review in Model.Reviews)
                    {
                        <div class="col-12 d-flex rounded px-3 py-3 align-items-center mt-4" style="background-color: rgba(30, 144, 255, 0.1)">
                            @{
                                string[] customerName = review.CustomerName.Split(" ");
                                if (customerName.Count() >= 2)
                                {
                                    string shortName = customerName[customerName.Count() - 2] + " " + customerName[customerName.Count() - 1];
                                    <div class="user-image">
                                        @(customerName[customerName.Count() - 2].Substring(0, 1).ToUpper() + customerName[customerName.Count() - 1].Substring(0, 1).ToUpper())
                                    </div>
                                    <div class="user-information-review ms-3">
                                        <div class="user-name" style="font-size: 1.2rem">@shortName</div>
                                        <div class="date-review">@review.DateReview.ToString("dd/MM/yyyy")</div>
                                    </div>
                                }
                                else
                                {
                                    string shortName = customerName[customerName.Count() - 1];
                                    <div class="user-image">
                                        @(customerName[customerName.Count() - 1].Substring(0, 1).ToUpper())
                                    </div>
                                    <div class="user-information-review ms-3">
                                        <div class="user-name" style="font-size: 1.2rem">@shortName</div>
                                        <div class="date-review">@review.DateReview.ToString("dd/MM/yyyy")</div>
                                    </div>
                                }
                            }             
                            <div>
                                <div class="rating-star" style="font-size: 0.9rem; height: 1.8rem">
                                    @{
                                        for(int i = 1; i <= review.Rating; i++)
                                        {
                                            <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                        }
                                        for(int i = 1; i <= 5 - review.Rating; i++)
                                        {
                                            <span class="fas fa-star"></span>
                                        }
                                    }
                                </div>
                                <div class="user-comment">
                                    @review.Comment
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
@section scripts{
    <script>
        var plusBtn = document.querySelector(".plus-btn");
        var minusBtn = document.querySelector(".minus-btn");
        var quantityInput = document.querySelector(".quantity-input");
        let a = 1;

        plusBtn.addEventListener("click", () => {
            a++;
            a = (a < 10) ? "0" + a : a;
            quantityInput.value = a;
        });

       minusBtn.addEventListener("click", () => {
            a--;
            a = (a < 1) ? 1 : a;
            a = (a < 10) ? "0" + a : a;
            quantityInput.value = a;
        });
    </script>
}