@page
@model BookDetailAdminModel
@{
    ViewData["Title"] = "Chi tiết sách";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    var dimension = Model.Book.Length + " x " + Model.Book.Width + " cm";
    var descriptionText = "";
    var filePath = Model.Book.Description;
    if (System.IO.File.Exists(filePath))
    {
        using (StreamReader sr = new StreamReader(filePath))
        {
            descriptionText = sr.ReadToEnd();
            descriptionText = descriptionText.Replace("\n", "<br>");
            sr.Close();
        }
    }
    var imgPath = Model.Book.Image + "/cover.jpg";
}
<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="row bg-white px-3 py-4 mt-3" style="margin: 10px; border-radius: 8px">
            <div class="col-5">
                    <div class="book-image" style="border: 0.5px solid #CCCCCC; display: flex; justify-content:center">
                        <img src="@Url.Content(imgPath)" alt="Book image"  class="book-img" style="width: 100%; border: 0.5px; cursor: pointer">
                    </div>
                <div class="row mt-3">
                    <div class="col">
                        @if (Model.Book.Hidden)
                        {
                            <button type="button" class="btn-book display-btn">
                                Hiện sách
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn-book hidden-btn">
                                Ẩn sách
                            </button>
                        }
                    </div>
                    <div class="col">
                        <a asp-area="Book" asp-page="EditBook" asp-route-id="@Model.Book.Id" class="btn-book btn-book--primary" style="display: block; text-decoration:none; text-align: center">
                            Chỉnh sửa thông tin
                        </a>
                    </div>
                </div>
            </div>
            <div class="book-essential-detail col-7 px-5">
                <h4 class="fw-bold" style="line-height: 36px; font-size: 28px">@Model.Book.Name</h4>
                <div class="row mt-4 book-detail__item">
                    <div class="provider col-6">
                        <span>Nhà cung cấp:</span>
                        <span style="color: var(--primary-color); font-weight: bold">@Model.Book.ProviderName</span>
                    </div>
                    <div class="author col-6">
                        <span>Tác giả:</span>
                        <span style="font-weight: bold;">@Model.Book.Author</span>
                    </div>
                </div>
                <div class="row mt-4 book-detail__item">
                    <div class="publisher col-6">
                        <span>Nhà xuất bản:</span>
                        <span style="font-weight: bold;">@Model.Book.Publisher</span>
                    </div>
                    <div class="cover col-6">
                        <span>Hình thức bìa:</span>
                        <span style="font-weight: bold;">@Model.Book.Cover</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px; font-size: 13px">
                    <div class="rating-star">
                        @{
                            for (int i = 1; i <= (int)Model.Book.AverageRating; i++)
                            {
                                <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                            }
                            if (Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.2)
                            {
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                            else if (Model.Book.AverageRating - (int)Model.Book.AverageRating >= 0.3 && Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.7)
                            {
                                <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                            else
                            {
                                <span class="fas fa-star" style="color: #F6A500;"></span>
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                        }
                        <span class="ms-1" style="color: var(--primary-color)">(@Model.Book.NumberOfReview đánh giá)</span>
                    </div>
                </div>
                <div class="book-price mt-4 d-flex align-items-center">
                    <span class="new-price">@Model.Book.GetPriceString(Model.Book.GetCurrentPrice()) đ</span>
                    <span class="old-price">@Model.Book.GetPriceString(Model.Book.Price) đ</span>
                    <span class="sale-percent">@(-Model.Book.Promotion)%</span>
                </div>
                <div class="row mt-4">
                    <span style="font-size: 16px">Số lượng còn lại: @Model.Book.Quantity</span>
                </div>
            </div>
        </div>
        <div class="row bg-white mt-3 px-3 py-4" style="margin: 10px; border-radius: 8px">
            <div class="col-12 book-detail__item">
                <h5 style="font-weight: bold; font-size: 16px">Thông tin sách</h5>
                <div class="book-detail">
                    <table>
                        <tbody>
                            <tr>
                                <td>Tên nhà cung cấp</td>
                                <td>@Model.Book.ProviderName</td>
                            </tr>
                            <tr>
                                <td>Tác giả</td>
                                <td>@Model.Book.Author</td>
                            </tr>
                            <tr>
                                <td>Nhà xuất bản</td>
                                <td>@Model.Book.Publisher</td>
                            </tr>
                            <tr>
                                <td>Năm xuất bản</td>
                                <td>@Model.Book.PublicationYear</td>
                            </tr>
                            <tr>
                                <td>Thể loại</td>
                                <td>@Model.Book.Genre</td>
                            </tr>
                            <tr>
                                <td>Trọng lượng (gr)</td>
                                <td>@Model.Book.Weight</td>
                            </tr>
                            <tr>
                                <td>Kích thước bao bì</td>
                                <td>@dimension</td>
                            </tr>
                            <tr>
                                <td>Số trang</td>
                                <td>@Model.Book.Pages</td>
                            </tr>
                            <tr>
                                <td>Hình thức bìa</td>
                                <td>@Model.Book.Cover</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 book-desciption mt-3">
                <p style="text-align: justify; font-size: 12px; padding-top: 4px">
                   @Html.Raw(descriptionText)
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <button type="button" class="read-more btn-book" style="width: 20%">Xem thêm</button>
            </div>
        </div>
        <div class="row bg-white my-3 px-4 py-4 book-detail__item" style="margin: 10px; border-radius: 8px">
            <h5 style="font-weight: bold; font-size: 16px">Đánh giá sản phẩm</h5>
            <div class="col-12 px-3 d-flex">
                <div class="book-detail__rating" style="">
                    <div class="rating-number" style="text-align: center;">
                        <span style="font-weight: bold; font-size: 4rem">@Model.Book.AverageRating</span>
                        <span style="font-weight: bold; font-size: 3rem">/5</span>
                    </div>
                    <div class="rating-star" style="margin-top: 4px; text-align: center;">
                        @{
                            for (int i = 1; i <= (int)Model.Book.AverageRating; i++)
                            {
                                <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                            }
                            if (Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.2)
                            {
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                            else if (Model.Book.AverageRating - (int)Model.Book.AverageRating >= 0.3 && Model.Book.AverageRating - (int)Model.Book.AverageRating <= 0.7)
                            {
                                <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                            else
                            {
                                <span class="fas fa-star" style="color: #F6A500;"></span>
                                for (int i = 1; i <= 5 - (int)Model.Book.AverageRating - 1; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                            }
                        }
                        <div class="mt-1" style="color: var(--primary-color)">(@Model.Book.NumberOfReview đánh giá)</div>
                    </div>
                </div>
                <div class="book-detail__rating-bar">
                    <div class="rating-level">
                        <label for="review-rating-bar">5<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="@Model.FiveStar"></progress>
                        <span class="ms-2">@Model.FiveStar %</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">4<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="@Model.FourStar"></progress>
                        <span class="ms-2">@Model.FourStar %</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">3<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="@Model.ThreeStar"></progress>
                        <span class="ms-2">@Model.ThreeStar %</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">2<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="@Model.TwoStar"></progress>
                        <span class="ms-2">@Model.TwoStar %</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">1<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="@Model.OneStar"></progress>
                        <span class="ms-2">@Model.OneStar %</span>
                    </div>
                </div>
            </div>
            @{
                foreach (var review in Model.Reviews)
                {
                    <div class="col-12 d-flex rounded px-3 py-3 mt-4" style="background-color: rgba(30, 144, 255, 0.1)">
                        @{
                            var reviewImg = review.Image + "/review" + review.Id + ".jpg";
                            string[] customerName = review.CustomerName.Split(" ");
                            if (customerName.Count() >= 2)
                            {
                                string shortName = customerName[customerName.Count() - 2] + " " + customerName[customerName.Count() - 1];
                                <div class="user-image">
                                    @(customerName[customerName.Count() - 2].Substring(0, 1).ToUpper() + customerName[customerName.Count() - 1].Substring(0, 1).ToUpper())
                                </div>
                                <div class="user-information-review ms-3">
                                    <div class="user-name" style="font-size: 1.2rem">@shortName</div>
                                    <div class="date-review">@review.DateReview.ToString("dd/MM/yyyy")</div>
                                </div>
                            }
                            else
                            {
                                string shortName = customerName[customerName.Count() - 1];
                                <div class="user-image">
                                    @(customerName[customerName.Count() - 1].Substring(0, 1).ToUpper())
                                </div>
                                <div class="user-information-review ms-3">
                                    <div class="user-name" style="font-size: 1.2rem">@shortName</div>
                                    <div class="date-review">@review.DateReview.ToString("dd/MM/yyyy")</div>
                                </div>
                            }
                        }
                        <div>
                            <div class="rating-star" style="font-size: 0.9rem; height: 1.8rem">
                                @{
                                    for (int i = 1; i <= review.Rating; i++)
                                    {
                                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                    }
                                    for (int i = 1; i <= 5 - review.Rating; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                }
                            </div>
                            <div class="user-comment">
                                @review.Comment
                            </div>
                            @if(@review.Image.Length>0)
                            {
                            <img class="comment-img mt-2" src="@reviewImg">
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div> 
</div>
<div id="my-modal" class="modal">
    <span class="close">&times</span>
    <img class="modal-content" />
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        var modal = document.getElementById("my-modal");
        const img = document.querySelectorAll(".comment-img");
        const modalImg = document.querySelector(".modal-content");
        for (let i = 0; i < img.length; i++) {
            img[i].addEventListener("click", () => {
                modal.style.display = "block";
                modalImg.src = img[i].src;
            });
        }
        var closeBtn = document.querySelector(".close");
        closeBtn.addEventListener("click", () => {
            modal.style.display = "none";
        });
        var bookImg = document.querySelector(".book-img");
        bookImg.addEventListener("click", () => {
            modal.style.display = "block";
            modalImg.src = bookImg.src;
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".hidden-btn").on("click", function (e) {
                e.preventDefault();
                hideBook();
            });
            $(".display-btn").on("click", function (e) {
                e.preventDefault();
                displayBook();
            });
        });

        function hideBook() {
            var itemId = @Model.BookId;
            $.ajax({
                type: "GET",
                url: "/Book/BookDetailAdmin?handler=HideBook",
                data: { itemId: itemId },
                success: function (response) {
                    window.location.href = "./BookManagement";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
        function displayBook() {
            var itemId = @Model.BookId;
            $.ajax({
                type: "GET",
                url: "/Book/BookDetailAdmin?handler=DisplayBook",
                data: { itemId: itemId },
                success: function (response) {
                    window.location.href = "./BookManagement";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
}