@page
@model EditBookModel
@{
    ViewData["Title"] = "Chỉnh sửa sách";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="form-container">
            <div class="form-heading">
                <p>Thay đổi thông tin sách</p>
            </div>
            <div class="form-body">
                <form method="post" asp-page-handler="ChangeBookInformation" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.Book.Id">
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Name" class="form__label">Tên sách</label>
                            <input asp-for="@Model.Book.Name" class="form-control form__input" placeholder="Nhập tên sách">
                            <span class="text-danger" asp-validation-for="@Model.Book.Name"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.CategoryId" class="form__label">Danh mục</label>
                            <select asp-for="@Model.Book.CategoryId" class="form-control form__input">
                                @foreach(var category in Model.Categories)
                                {
                                    if(category.Id == Model.Book.CategoryId)
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Author" class="form__label">Tác giả</label>
                            <input asp-for="@Model.Book.Author" class="form-control form__input" placeholder="Nhập tác giả">
                            <span class="text-danger" asp-validation-for="@Model.Book.Author"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.ProviderId" class="form__label">Nhà cung cấp</label>
                            <select asp-for="@Model.Book.ProviderId" class="form-control form__input">
                                @foreach(var provider in Model.Providers)
                                {
                                    if(provider.Id == Model.Book.ProviderId)
                                    {
                                        <option value="@provider.Id" selected>@provider.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@provider.Id">@provider.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Publisher" class="form__label">Nhà xuất bản</label>
                            <input asp-for="@Model.Book.Publisher" class="form-control form__input" placeholder="Nhập nhà xuất bản">
                            <span class="text-danger" asp-validation-for="@Model.Book.Publisher"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.PublicationYear" class="form__label">Năm xuất bản</label>
                            <input asp-for="@Model.Book.PublicationYear" class="form-control form__input" placeholder="Nhập năm xuất bản">
                            <span class="text-danger" asp-validation-for="@Model.Book.PublicationYear"></span>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Weight" class="form__label">Trọng lượng (gr)</label>
                            <input asp-for="@Model.Book.Weight" class="form-control form__input" placeholder="Nhập trọng lượng">
                            <span class="text-danger" asp-validation-for="@Model.Book.Weight"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputSize" class="form__label">Kích thước bao bì (Chiều dài x Chiều rộng)</label>
                            <div class="form-size">
                                <input asp-for="@Model.Book.Length" class="form-control form__input" style="width:50%; margin-right: 4px" placeholder="Nhập chiều dài">
                                <input asp-for="@Model.Book.Width" class="form-control form__input" style="width:50%; margin-left: 4px" placeholder="Nhập chiều rộng">
                            </div>
                                    <span class="text-danger" asp-validation-for="@Model.Book.Length" style="display:inline-block; width:50%"></span>
                                    <span class="text-danger" asp-validation-for="@Model.Book.Width"></span>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Pages" class="form__label">Số trang</label>
                            <input asp-for="@Model.Book.Pages" class="form-control form__input" placeholder="Nhập số trang">
                            <span class="text-danger" asp-validation-for="@Model.Book.Pages"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.Cover" class="form__label">Hình thức bìa</label>
                            <input asp-for="@Model.Book.Cover" class="form-control form__input" id="inputCover" placeholder="Nhập hình thức bìa">
                            <span class="text-danger" asp-validation-for="@Model.Book.Cover"></span>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Price" class="form__label">Giá bìa</label>
                            <input asp-for="@Model.Book.Price" class="form-control form__input" placeholder="Nhập giá ban đầu">
                            <span class="text-danger" asp-validation-for="@Model.Book.Price"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.Promotion" class="form__label">Giảm giá (%)</label>
                            <input asp-for="@Model.Book.Promotion" class="form-control form__input" placeholder="Nhập số phần trăm giảm giá">
                            <span class="text-danger" asp-validation-for="@Model.Book.Promotion"></span>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label asp-for="@Model.Book.Quantity" class="form__label">Số lượng còn lại</label>
                            <input asp-for="@Model.Book.Quantity" class="form-control form__input" placeholder="Nhập số lượng còn lại">
                            <span class="text-danger" asp-validation-for="@Model.Book.Quantity"></span>
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label asp-for="@Model.Book.Genre" class="form__label">Thể loại</label>
                            <input class="form-control form__input" asp-for="@Model.Book.Genre" placeholder="Nhập thể loại">
                            <span class="text-danger" asp-validation-for="@Model.Book.Genre"></span>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label name="imageFile" class="form__label">Hình ảnh</label>
                            <input class="form-control form__input" name="imageFile" id="imageFile" type="file" accept=".jpg">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-12">
                            <label asp-for="@Model.DescriptionText" class="form__label">Mô tả</label>
                            <textarea asp-for="@Model.DescriptionText" class="form-control form__input form__input-description" placeholder="Nhập mô tả" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">

                        </div>
                        <div class="form-group form-row form__row col-md-6 form__btn-margin">
                            <button type="submit" class="form-group form__btn" style="margin-right: 4px">
                                CHỈNH SỬA
                            </button>
                            <button type="submit" asp-page-handler="CancelUpdate" class="form-group form__btn form__btn--cancel" style="margin-left: 4px">
                                HỦY
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
@section scripts {
        <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var message = '@Model.SuccessMsg';
        if(message){
            alert(message);
        }
    </script>
}
