@page
@model CustomerModel
@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
@{
    var datapaging = new
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = "/Customer/CustomerManagement/?Gender=" + Model.Gender + "&Status=" + Model.Status + "&SearchQuery=" + Model.SearchQuery + "&SortBy=" + Model.SortBy + "&SortType=" + Model.SortType
    };
}
<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="feature">
            <div class="feature-item filter-search">
                <span class="filter-search-heading">Lọc theo :</span>
                <div class="filter-search-feature">
                    <div class="filter-feature">
                        <form method="get">
                            <input type="hidden" value="@Model.SearchQuery" readonly />
                            <select class="select-filter filter-feature-item" asp-for="Gender">
                                <option value="All">Giới tính: Tất cả</option>
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                            </select>
                            <select class="select-filter filter-feature-item" asp-for="Status">
                                <option value="All">Trạng thái: Tất cả</option>
                                <option value="Active">Active</option>
                                <option value="Blocked">Blocked</option>
                            </select>
                            <button type="submit" class="feature-btn filter-feature-item">
                                Lọc
                            </button>
                        </form>
                    </div>
                    <div class="search-feature">
                        <form method="get">
                            <input asp-for="SearchQuery" class="search-feature-input" placeholder="Tìm kiếm khách hàng">
                            <button class="feature-btn" type="submit">
                                <i class="search-feature-btn-icon fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="feature-item sort">
                <span class="sort-heading">Sắp xếp theo :</span>
                <div class="sort-feature">
                    <div class="sort-feature-item">
                        <form method="get">
                            <input type="hidden" value="@Model.SearchQuery" readonly />
                            <input type="hidden" value="@Model.Gender" readonly />
                            <input type="hidden" value="@Model.Status" readonly />
                            <select class="sort-by" asp-for="SortBy">
                                <option value="New">Mới nhất</option>
                                <option value="Name">Họ và tên</option>
                                <option value="Email">Email</option>

                            </select>
                            <select class="sort-type" asp-for="SortType">
                                <option value="Acs">Tăng dần</option>
                                <option value="Desc">Giảm dần</option>
                            </select>
                            <button type="submit" class="feature-btn">
                                Sắp xếp
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="user-list-container">
            <div class="user-table">
                <table class="table" style="width: 100%; color: var(--primary-color)">
                    <tr class="table-row list-row">
                        <th style="width: 3%">STT</th>
                        <th style="width: 10%">Họ và tên</th>
                        <th style="width: 7%">Giới tính</th>
                        <th style="width: 8%">Ngày sinh</th>
                        <th style="width: 15%">Email</th>
                        <th style="width: 10%">Số điện thoại</th>
                        <th style="width: 25%">Địa chỉ</th>
                        <th style="width: 7%">Trạng thái</th>
                        <th style="width: 7%">Đơn hàng</th>
                        <th style="width: 8%">Action</th>
                    </tr>
                    @{
                        int cnt = 0;
                        foreach(var customer in Model.Customers)
                        {
                            <tr class="table-container" style="color: var(--text-color)">
                                <th class="table-value list-value">@(++cnt)</th>
                                <td class="table-value list-value" style="font-weight: 600">@customer.Name</td>
                                <td class="table-value list-value">
                                    @if (customer.Gender)
                                    {
                                        <span>Nam</span>
                                    }
                                    else
                                    {
                                        <span>Nữ</span>
                                    }
                                </td>
                                <td class="table-value list-value">
                                    @{
                                        var d = customer.Birthday.Day;
                                        var m = customer.Birthday.Month;
                                        var y = customer.Birthday.Year;
                                        string date = "" + d + "/" + m + "/" + y;
                                        <span>@date</span>
                                    }
                                </td>
                                <td class="table-value list-value">@customer.Email</td>
                                <td class="table-value list-value">@customer.TelephoneNumber</td>
                                <td class="table-value list-value">@customer.Address</td>
                                <td class="table-value list-value">
                                    @if (customer.Status)
                                    {
                                        <span>Active</span>
                                    }
                                    else
                                    {
                                        <span>Blocked</span>
                                    }
                                </td>
                                <td class="table-value list-value">
                                    @*<button class="action-btn" onclick="location.href='/Admin/UserOrder';">
                                        <i class="view-icon fa-regular fa-eye"></i>
                                    </button>*@
                                    <ul class="btn-container">
                                        <li class="btn-item">
                                            <a href="@Url.Content("~/Order/OrderManagement/?userId=" + customer.CustomerId)" class="action-admin-btn">
                                                <i class="view-icon fa-regular fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>

                                </td>
                                <td class="table-value list-value">
                                    <form method="post">
                                        <ul class="btn-container">
                                            @if (customer.Status)
                                            {
                                                <li class="btn-item">
                                                    <a href="@Url.Content("~/Customer/CustomerManagement/?userId=" + customer.AccountId)" class="action-admin-btn">
                                                        <i class="block-icon fa-solid fa-ban"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="btn-item">
                                                    <a href="@Url.Content("~/Customer/CustomerManagement/?userId=" + customer.AccountId)" class="action-admin-btn">
                                                        <i class="fa-solid fa-unlock"></i>
                                                    </a>
                                                </li>      
                                            }
                                            @*<li class="btn-item">
                                                <a href="" + customer.CustomerId)" class="action-admin-btn">
                                                    <i class="delete-icon fa-sharp fa-solid fa-trash"></i>
                                                </a>
                                            </li>*@
                                        </ul>                                    
                                    </form>
                                </td>
                            </tr>                              
                        }
                    }                   
                </table>
            </div>
            <div class="pagination-container">
                <partial name="_PagingAdmin" model="datapaging" />
            </div>
        </div>

    </div>
    
</div>
