@page
@using TADA.Utilities;
@model HomePageAdminModel
@{
    ViewData["Title"] = "Home page ADMIN";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="revenue">
            <ul class="revenue-container">
                <li class="revenue-container__item">
                    <span class="revenue-container__item-heading">Doanh thu tháng này</span>
                </li>
                <li class="revenue-container__item">
                    <span class="revenue-container__item-number"> @UIHelper.GetPriceString(Model.Revuene) VND</span>
                </li>
            </ul>
        </div>
 @*       <div class="revenue-account">
            <div class="revenue-account__item revenue-in-year">
                <div class="revenue-heading">
                    <h1>Thống kê doanh thu</h1>
                    <div class="years">
                        <span>Năm</span>
                        <select class="select-years" name="years" id="years">
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                    </div>
                </div>
                <div class="revenue-body">
                    <table class="table">
                        <tr class="table-row revenue-row">
                            <th class="table-col">Tháng</th>
                            <th class="table-col">Doanh thu (VND)</th>
                        </tr>
                        @for (int i = 1; i <= 12; i++)
                        {
                            <tr class="table-value revenue-value">
                                <th>@i</th>
                                <td class="table-value value">35.000.000</td>
                            </tr>  
                        }                   
                    </table>
                </div>
            </div>
            <div class="revenue-account__item new-accounts">
                <div class="new-accounts-heading">
                    <h1>Người dùng mới</h1>
                </div>                
                <div class="new-accounts-body">
                    @foreach (var customer in Model.Customers)
                    {
                        <div class="user">
                            <i class="fa-solid fa-user-large user-icon"></i>
                            @customer.Name
                        </div>
                    }
                </div>
            </div>
        </div>*@
        <div class="dashboard-container">
            <div class="dashboard-item dashboard-new-users" style="margin-right: 8px">
                <div class="dashboard-new-users-heading">
                    <h1>Khách hàng mới</h1>
                </div>                
                <div class="dashboard-new-users-body">
                    @foreach (var customer in Model.Customers)
                    {
                        <div class="user">
                            <i class="fa-solid fa-user-large user-icon"></i>
                            @customer.Name
                        </div>
                    }
                </div>
            </div>
            <div class="dashboard-item dashboard-book" style="margin: 0 8px">
                <div class="dashboard-book-heading">
                    <h1>Sách bán chạy</h1>
                </div>                
                <div class="dashboard-book-body">
                    @foreach (var book in Model.Books)
                    {
                        var imgPath = book.Image + "/cover.jpg";
                        <div class="dashboard-book__item">
                            <a href="@Url.Content("~/Book/BookDetailAdmin?id=" + book.BookId)" class="dashboard-book__container">
                                @*<div class="dashboard-book__img" style="border: 0.5px solid #CCCCCC; display: flex; justify-content:center">
                                    <img src="@Url.Content(imgPath)" alt="Book image" >
                                </div>*@
                                    <img src="@Url.Content(imgPath)" alt="Book image" class="dashboard-book__img">
                               <div class="dashboard-book__info">
                                   <div class="dashboard-book__name">
                                       @book.Name
                                   </div>
                                   <div class="dashboard-book__quantity">
                                       Số lượng đã bán: @book.SoldQuantity
                                   </div>
                               </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="dashboard-item dashboard-order" style="margin-left: 8px">
                <div class="dashboard-order-heading">
                    <h1>Đơn hàng mới</h1>
                </div>
                <div class="dashboard-order-body">
                    @foreach (var order in Model.Orders)
                    {
                        <div class="dashboard-order__item">
                            <a href="@Url.Content("~/Order/OrderDetailAdmin/?handler=AllOrder&orderId=" + order.OrderId)" class="dashboard-order__container">
                                <div class="dashboard-order__info">
                                    <div class="dashboard-order__customer">
                                        @order.CustomerName
                                    </div>
                                    <div class="dashboard-order__address">
                                        Địa chỉ: <span>@order.Province</span>
                                    </div>
                                    <div class="dashboard-order__status">
                                        Trạng thái:
                                        <span style="color: var(--primary-color); font-weight: 600">
                                            @order.Status
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
