@page
@model IndexModel
@using TADA.Model.Entity
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_LayoutUser";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
@{
    var datapaging = new
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        category = Model.Category,
        sortBy = Model.SortBy,
        genre = Model.Genre,
        searchQuery = Model.SearchQuery,
        priceRange = Model.PriceRange
    };
}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 bg-white my-3 ps-3 pt-3 rounded vh-100">
            <h5 style="color: var(--primary-color); font-weight: 700; padding-left: 0.5rem">Danh mục</h5>
            <ul class="category-list px-0" style="list-style: none">
                @foreach (var category in Model.Categories)
                {
                    <li class="category-items fw-bold text-dark">
                        @if (string.IsNullOrWhiteSpace(Model.SearchQuery))
                        {
                            @if (category.Id == Model.Category)
                            {
                                <a href="@Url.Page("~/?category=" + category.Id)" style="background-color:#1E90FF4D">@category.Name</a>

                            }
                            else
                            {
                                <a href="@Url.Content("~/?category=" + category.Id)">@category.Name</a>

                            }
                        }
                        else
                        {
                            @if (category.Id == Model.Category)
                            {
                                <a href="@Url.Content("~/?category=" + category.Id + "&q=" + Model.SearchQuery)" style="background-color:#1E90FF4D">@category.Name</a>

                            }
                            else
                            {
                                <a href="@Url.Content("~/?category=" + category.Id + "&q=" + Model.SearchQuery)">@category.Name</a>
                            }
                        }

                    </li>
                }
            </ul>
        </div>
        <div class="col-8">
            <div class="subhead d-flex justify-content-between">
                    <form method="get" class="form-group d-flex me-4" id="sort-form">
                        <input type="hidden" name="category" value="@Model.Category">
                        <input type="hidden" name="q" value="@Model.SearchQuery">
                    @if (!string.IsNullOrEmpty(Model.Genre))
                    {
                        <input type="hidden" name="genre" value="@Model.Genre">
                    }
                    @if (!string.IsNullOrEmpty(Model.PriceRange))
                    {
                        <input type="hidden" name="price-range" value="@Model.PriceRange">
                    }
                        <label for="sort" class="form-label" style="width: 90px">Sắp xếp theo:</label>
                        <select class="form-select custom-select rounded-0" id="sort-select" asp-for="SortBy">
                            <option value="New">Mới nhất</option>
                            <option value="Asc">Giá tăng dần</option>
                            <option value="Desc">Giá giảm dần</option>
                        </select>
                        <input type="hidden" name="pageNumber" value="@Model.currentPage"/>
                    </form>
                    <form method="get" class ="form-group d-flex justify-content-end">
                            <label for="filter" class="form-label" style="width: 64px">
                            <i class="fas fa-filter me-1"></i>
                            Bộ lọc:
                        </label>
                            <input type="hidden" name="category" value="@Model.Category">
                            <input type="hidden" name="q" value="@Model.SearchQuery">
                            <select class="form-select custom-select rounded-0 genre" asp-for="Genre">
                            <option value="All">Thể loại</option>
                            <option value="Tiểu thuyết">Tiểu thuyết</option>
                            <option value="Đời thường">Đời thường</option>
                            <option value="Học đường">Học đường</option>
                        </select>
                            <select class="form-select custom-select rounded-0 price" asp-for="PriceRange">
                            <option value="minint-maxint">Giá</option>
                            <option value="0,50000">0 - 50.000</option>
                            <option value="50000,100000">50.000 - 100.000</option>
                            <option value="100000,1000000">Trên 100.000</option>
                        </select>
                            <input type="hidden" name="pageNumber" value="@Model.currentPage">
                            <button type="submit" class="btn" style="width: 80px">Lọc</button>
                            <button type="button" class="btn btn-delete-filter">Xoá bộ lọc</button>
                    </form>
            </div>
            <div class="user-view-book row">
                @foreach (var book in Model.Books)
                {
                    var imgPath = book.Image + "/cover.jpg";
                    <div class="col-3 card-container">
                        <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@book.Id" class="card h-100">
                            <img src="@Url.Content(imgPath)" alt="Book image" class="card-body-top">
                            <div class="card-body">
                                <h5 class="card-title">@book.Name</h5>
                                <span class="card-price" style="line-height: 32px">@book.GetPriceString(book.GetCurrentPrice()) đ</span>
                                @{
                                    if (book.Promotion != 0)
                                    {
                                        <span class="card-sale">-@book.Promotion%</span>
                                        <div class="card-oldprice">@book.GetPriceString(book.Price) đ</div>
                                    }
                                    else
                                    {
                                        <div style="height: 24px"></div>
                                    }
                                }
                               <div class="card-rating mt-1">
                                    @{
                                        for (int i = 1; i <= (int)book.AverageRating; i++)
                                        {
                                            <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                        }
                                        if (book.AverageRating - (int)book.AverageRating <= 0.2)
                                        {
                                            for (int i = 1; i <= 5 - (int)book.AverageRating; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                        else if (book.AverageRating - (int)book.AverageRating >= 0.3 && book.AverageRating - (int)book.AverageRating <= 0.7)
                                        {
                                            <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                            for (int i = 1; i <= 5 - (int)book.AverageRating - 1; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="fas fa-star" style="color: #F6A500;"></span>
                                            for (int i = 1; i <= 5 - (int)book.AverageRating - 1; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                    }
                                    <span class="card-numRating ms-1">(@book.NumberOfReview)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="row my-5">
                <partial name="_PagingUser" model="@datapaging" />
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
@section Scripts {
     <script>
        var form = document.getElementById('search-form');
        var input = document.getElementById('search-input');
        input.addEventListener('keyup', function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                form.submit();
            }
        });
    </script>
    <script>
        $(function () {
            $('#sort-select').on('change', function () {
                $('#sort-form').submit();
            });
        });
    </script>
}
