@page
@model IndexModel
@using TADA.Model.Entity
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_LayoutUser";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 bg-white my-3 ps-3 pt-3 rounded vh-100">
            <h5 style="color: var(--primary-color); font-weight: 700; padding-left: 0.5rem">Danh mục</h5>
            <ul class="category-list px-0" style="list-style: none">
                @foreach (var category in Model.Categories)
                {
                    <li class="category-items fw-bold text-dark">
                        <button type="button" class="btn">
                            <a href="@Url.Content("~/?category=" + @category.Id)">@category.Name</a>
                        </button>
                    </li>
                }
            </ul>
        </div>
        <div class="col-8">
            <form class ="row" method="get">
                <div class="subhead d-flex justify-content-between">
                    <div class="form-group d-flex me-4">
                        <label for="sort" class="form-label" style="width: 90px">Sắp xếp theo:</label>
                        <select class="form-select custom-select rounded-0" id="sort" name="SortBy">
                            <option value="New">Mới nhất</option>
                            <option value="Asc">Giá tăng dần</option>
                            <option value="Desc">Giá giảm dần</option>
                        </select>
                    </div>
                    <div class="form-group d-flex me-4 justify-content-between">
                        <label for="filter" class="form-label" style="width: 64px">
                            <i class="fas fa-filter me-1"></i>
                            Bộ lọc:
                        </label>
                        <select class="form-select custom-select rounded-0 genre" id="filter" name="Filter">
                            <option>Thể loại</option>
                            <option>Rom-com</option>
                            <option>Isekai</option>
                        </select>
                        <select class="form-select custom-select rounded-0 price" id="PriceRange" name="PriceRange">
                            <option value="minint-maxint">Giá</option>
                            <option value="0 - 50000">0 - 50000</option>
                            <option value="50000-100000">50000-100000</option>
                        </select>
                        <select class="form-select custom-select rounded-0 publisher" id="filter" name="Filter">
                            <option>Nhà xuất bản</option>
                            <option>Kim Đồng</option>
                            <option>Trẻ</option>
                        </select>
                        <select class="form-select custom-select rounded-0 cover" id="filter" name="Filter">
                            <option>Hình thức bìa</option>
                            <option>Bìa mềm</option>
                            <option>Bìa cứng</option>
                        </select>
                        <select class="visually-hidden" id="Category" name="Category">
                            @foreach (var category in Model.Categories)
                            {
                                @if (Model.Category == category.Id)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group d-flex">
                        <button type="submit" class="btn" style="width: 80px">Lọc</button>
                        <button type="button" class="btn btn-delete-filter">Xoá bộ lọc</button>
                    </div>
                </div>
            </form>
            <div class="user-view-book row">
                @foreach (var i in Model.Books)
                {
                    <div class="col-3 card-container">
                        <a asp-page="/User/BookDetailUser?id=@i.Id" class="card">
                            <img src="img/book1.jpg" alt="Book image" class="card-body-top">
                            <div class="card-body">
                                <h5 class="card-title">@i.Name</h5>
                                <span class="card-price">@i.GetPriceString(i.GetCurrentPrice()) VND</span>
                                <span class="card-sale">-@i.Promotion%</span>
                                <div class="card-oldprice">@i.GetPriceString(i.Price) VND</div>
                                <div class="card-rating mt-1">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="card-numRating ms-1">(0)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="row my-5">
@*                <ul class="col pagination justify-content-center">
                    <li><button type="button" class="btn btn-primary"><i class="fas fa-chevron-left"></i></button></li>
                    <li><button type="button" class="btn btn-primary">1</button></li>
                    <li><button type="button" class="btn btn-primary">2</button></li>
                    <li><button type="button" class="btn btn-primary">3</button></li>
                    <li><button type="button" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button></li>
                </ul>*@
                @{
                    // xây dựng Func phát sinh Url từ page ./Index
                    Func<int?, string> generateUrl = (int? _pagenumber) =>
                    {
                        return Url.Page("./Index", new { pageNumber = _pagenumber });
                    };

                    var datapaging = new
                    {
                        currentPage = 2,    // trang hiện tại
                        countPages = 20,   // tổng  số trang
                        generateUrl = generateUrl
                    };

                }
                <partial name="_PagingUser" model="@datapaging" />
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
