@page
@model IndexModel
@using TADA.Model.Entity
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_LayoutUser";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
@{
    // xây dựng Func phát sinh Url từ page ./Index
    Func<int?, int?, string> generateUrl = (int? _category, int? _pagenumber) =>
                    {
                        if (Model.Category == 0)
                        {
                            return Url.Page("./Index", new {pageNumber = _pagenumber});
                        }
                        return Url.Page("./Index", new { category = _category, pageNumber = _pagenumber });
                    };
    var datapaging = new
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = generateUrl,
        category = Model.Category
    };
}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 bg-white my-3 ps-3 pt-3 rounded vh-100">
            <h5 style="color: var(--primary-color); font-weight: 700; padding-left: 0.5rem">Danh mục</h5>
            <ul class="category-list px-0" style="list-style: none">
                @foreach (var category in Model.Categories)
                {
                    <li class="category-items fw-bold text-dark">
                        <a href="@Url.Page("./Index", new { category = category.Id })">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-8">
            <form class ="row" method="get">
                <div class="subhead d-flex justify-content-between">
                    <div class="form-group d-flex me-4">
                        <label for="sort" class="form-label" style="width: 90px">Sắp xếp theo:</label>
                        <select class="form-select custom-select rounded-0" id="sort" name="SortBy">
                            <option value="New">Mới nhất</option>
                            <option value="Asc">Giá tăng dần</option>
                            <option value="Desc">Giá giảm dần</option>
                        </select>
                    </div>
                    <div class="form-group d-flex me-4 justify-content-between">
                        <label for="filter" class="form-label" style="width: 64px">
                            <i class="fas fa-filter me-1"></i>
                            Bộ lọc:
                        </label>
                        <select class="form-select custom-select rounded-0 genre" id="filter" name="Filter">
                            <option>Thể loại</option>
                            <option>Rom-com</option>
                            <option>Isekai</option>
                        </select>
                        <select class="form-select custom-select rounded-0 price" id="PriceRange" name="PriceRange">
                            <option value="minint-maxint">Giá</option>
                            <option value="0 - 50000">0 - 50000</option>
                            <option value="50000-100000">50000-100000</option>
                        </select>
                        <select class="form-select custom-select rounded-0 publisher" id="filter" name="Filter">
                            <option>Nhà xuất bản</option>
                            <option>Kim Đồng</option>
                            <option>Trẻ</option>
                        </select>
                        <select class="form-select custom-select rounded-0 cover" id="filter" name="Filter">
                            <option>Hình thức bìa</option>
                            <option>Bìa mềm</option>
                            <option>Bìa cứng</option>
                        </select>
                        <select class="visually-hidden" id="Category" name="Category">
                            @foreach (var category in Model.Categories)
                            {
                                @if (Model.Category == category.Id)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group d-flex">
                        <button type="submit" class="btn" style="width: 80px" asp-page-handler="Filter">Lọc</button>
                        <button type="submit" class="btn btn-delete-filter">Xoá bộ lọc</button>
                    </div>
                </div>
            </form>
            <div class="user-view-book row">
                @foreach (var book in Model.Books)
                {
                    var imgPath = book.Image + "/cover.jpg";
                    <div class="col-3 card-container">
                        <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@book.Id" class="card h-100">
                            <img src="@Url.Content(imgPath)" alt="Book image" class="card-body-top">
                            <div class="card-body">
                                <h5 class="card-title">@book.Name</h5>
                                <span class="card-price" style="line-height: 32px">@book.GetPriceString(book.GetCurrentPrice()) đ</span>
                                @{
                                    if (book.Promotion != 0)
                                    {
                                        <span class="card-sale">-@book.Promotion%</span>
                                        <div class="card-oldprice">@book.GetPriceString(book.Price) đ</div>
                                    }
                                    else
                                    {
                                        <div style="height: 24px"></div>
                                    }
                                }
                               <div class="card-rating mt-1">
                                    @{
                                        for (int i = 1; i <= (int)book.AverageRating; i++)
                                        {
                                            <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                                        }
                                        if (book.AverageRating - (int)book.AverageRating <= 0.2)
                                        {
                                            for (int i = 1; i <= 5 - (int)book.AverageRating; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                        else if (book.AverageRating - (int)book.AverageRating >= 0.3 && book.AverageRating - (int)book.AverageRating <= 0.7)
                                        {
                                            <span class="fa fa-star-half" style="color: #F6A500;"></span>
                                            for (int i = 1; i <= 5 - (int)book.AverageRating - 1; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="fas fa-star" style="color: #F6A500;"></span>
                                            for (int i = 1; i <= 5 - (int)book.AverageRating - 1; i++)
                                            {
                                                <span class="fas fa-star"></span>
                                            }
                                        }
                                    }
                                    <span class="card-numRating ms-1">(@book.NumberOfReview)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="row my-5">
                <partial name="_PagingUser" model="@datapaging" />
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
