@page
@model CategoryManagementModel
@{
    ViewData["Title"] = "Quản lý danh mục";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
@{
    var datapaging = new
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = "/Category/CategoryManagement/?SearchQuery=" + Model.SearchQuery + "&SortBy=" + Model.SortBy + "&SortType=" + Model.SortType 
    };
}
<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="feature">
            <div class="feature-item filter-search">
                <div class="filter-search-feature">
                    <div class="search-feature">
                        <form method="get">
                            <input asp-for="SearchQuery" class="search-feature-input" style="width: 300px" placeholder="Tìm kiếm danh mục">
                            <button type="submit" class="feature-btn">
                                <i class="search-feature-btn-icon fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="feature-item sort">
                <span class="sort-heading">Sắp xếp theo :</span>
                <div class="sort-feature">
                    <div class="sort-feature-item">
                        <form method="get">
                            <input type="hidden" name="SearchQuery" value="@Model.SearchQuery" readonly/>
                            <select class="sort-by" asp-for="SortBy">
                                <option value="categoryID">Mã danh mục</option>
                                <option value="categoryName">Tên danh mục</option>
                                <option value="count">Số lượng sách</option>
                            </select>
                            <select class="sort-type" asp-for="SortType">
                                <option value="asc">Tăng dần</option>
                                <option value="desc">Giảm dần</option>
                            </select>
                            <button type="submit" class="feature-btn">
                                Sắp xếp
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="user-list-container">
            <div class="user-table">
                <form method="get">
                    <table class="table">
                        <tr class="table-row list-row" style="width: 100%; color: var(--primary-color)">
                            <th style="width: 10%">STT</th>
                            <th style="width: 60%">Tên danh mục</th>
                            <th style="width: 20%">Số lượng sách</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                        @{
                            int cnt = 0;
                            if (Model.Categories != null)
                            {
                                foreach (var category in Model.Categories)
                                {
                                    <tr class="table-container" style="color: var(--text-color)">
                                        <th class="table-value list-value">@(++cnt)</th>
                                        <td class="table-value list-value">@category.Name</td>
                                        <td class="table-value list-value">@category.NumOfBooks</td>
                                        <td class="table-value list-value">
                                            <ul class="btn-container">
                                                <li class="btn-item">
                                                    <a href="@Url.Content("~/Book/BookManagement/?categoryId=" + category.Id)" class="action-admin-btn">
                                                        <i class="view-icon fa-regular fa-eye"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                        </td>
                                    </tr>
                                }                                
                            }
                        }
                    </table>
                </form>
            </div>
            <div class="pagination-container add-button">
                <div class="add-button">
                    <a style="display: block; text-align: center" class="feature-btn add-btn" asp-area="Category" asp-page="AddCategory">
                        THÊM DANH MỤC
                    </a>
                </div>
                <partial name="_PagingAdmin" model="datapaging" />
            </div>
        </div>

    </div>

</div>
