@page
@model ConfirmPackageModel
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewData["Title"] = "Đơn hàng";
}

<div id="confirm-package">
    <div class="grid">
        <div class="row">
            <div class="col c-7 c-o-1">
                <div class=" wrap-user grid">
                    <div class="recipient-infor" style="border-radius:8px;">
                        <div class="recipient-infor__title row">
                            <div class="order__title col c-6">Thông tin người nhận</div>
                            <div class="recipient-infor__change col c-6">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalInformation">Chỉnh sửa</button>
                            </div>
                            
                        </div>
                        <div class="recipient-infor__desc">
                            <p>@Model.Customer.Name, @Model.Order.TelephoneNumber</p>
                            <p>@(Model.Address.Street + ", " + Model.Address.WardName + ", " + Model.Address.DistrictName + ", "+ Model.Address.ProvinceName)</p>
                        </div>
                    </div>
                    <div class="confirm__order-detail" style="border-radius: 8px;">
                        <div class="order__title">Sản phẩm</div>
                        <div class="confirm__book-list grid">
                            @foreach (var orderDetail in Model.OrderDetails)
                            {
                                var Book = Model.GetBookByOrderDetail(orderDetail);
                                var imgPath = Book.Image + "/cover.jpg";
                                <div class="cart__flex-item row">
                                    <div class="order-book__img col c-2"><img src="@Url.Content(imgPath)" alt="Ảnh sách" style=" height: 150px"></div>
                                    <div class="cart__book-desc col c-6">
                                        <p class="cart__book-name">
                                            @Book.Name
                                        </p>
                                        <p class="cart__book-provider">
                                            Nhà cung cấp:
                                            <span>@Book.Publisher</span>
                                        </p>
                                    </div>
                                    <div class="cart__book-price col c-2">
                                        @orderDetail.GetPriceString(orderDetail.Price) đ
                                    </div>
                                    <div class="cart__book-number col c-2">
                                        Số lượng: @orderDetail.Quantity
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
            <div class="col c-3">
                <div class="nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                    <div class="order__title">
                        Chi tiết đơn hàng
                    </div>
                    <div class="order-detail__desc grid">
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng giá (@Model.OrderDetails.Count sách)</div>
                            <div class="col c-5" style="padding: 0; text-align:right;">@Model.GetPriceString(Model.SumPriceOfBooks()) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Phí giao hàng</div>
                            @if (Model.Order.ShipFee == 0)
                            {
                                <div class="col c-5 text-danger" style="padding: 0; text-align:right;">Không hỗ trợ</div>
                            }
                            else{
                                <div class="col c-5" style="padding: 0; text-align:right;">@Model.GetPriceString(Model.Order.ShipFee) đ</div>
                            }
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng tiền</div>
                            <div class="col c-5" style="padding: 0; text-align:right; color:var(--primary-color);">@Model.GetPriceString(Model.SumPriceOfOrder()) đ</div>
                        </div>
                    </div>
                    <form class="btn--confirm" method="post" >
                        <button class="btn btn-primary" style="width:100%;" type="submit"asp-page-handler="UpdateStatusOrder" asp-route-orderId="@Model.Order.Id" asp-route-isFromCart="@Model.IsFromCart">
                            XÁC NHẬN ĐẶT HÀNG
                        </button>
                    </form>
                </div>
        </div>
        </div>
</div>
        <!-- Modal -->
        <div class="modal fade" id="modalInformation" data-bs-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content rounded-0 border-0">
                <div class="modal-header border-0">
                  <h5 class="modal-title" style="color: var(--primary-color)">Chỉnh sửa thông tin cá nhân</h5>
                </div>
                <form method="post" asp-page-handler="ChangeInformation" asp-route-isFromCart="@Model.IsFromCart">
                    <div class="modal-body containter-fluid py-0">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label asp-for="Customer.Name" class="form-label">Họ và tên người nhận</label>
                                <input asp-for="Customer.Name" class="form-control" readonly>
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="SelectedProvince" class="form-label">Tỉnh/Thành phố</label>
                                <select class="form-select custom-select" asp-for="SelectedProvince">
                                    @{
                                        foreach (var province in Model.Provinces)
                                        {
                                            if (province.ProvinceId == Model.Address.ProvinceId)
                                            {
                                                <option value="@province.ProvinceId" selected>@province.ProvinceName</option>
                                            }
                                            else
                                            {
                                                <option value="@province.ProvinceId">@province.ProvinceName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label asp-for="Order.TelephoneNumber" class="form-label">Số điện thoại</label>
                                <input asp-for="Order.TelephoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại">
                                <span class="text-danger" asp-validation-for="Order.TelephoneNumber"></span>
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="SelectedDistrict" class="form-label">Quận/Huyện</label>
                                <select class="form-select custom-select" asp-for="SelectedDistrict" required title="Vui lòng chọn Quận/Huyện!">
                                    @{
                                        foreach (var district in Model.Districts)
                                        {
                                            if (district.DistrictId == Model.Address.DistrictId)
                                            {
                                                <option value="@district.DistrictId" selected>@district.DistrictName</option>
                                            }
                                            else
                                            {
                                                <option value="@district.DistrictId">@district.DistrictName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col c-o-6 c-6 form-group">
                                <label asp-for="SelectedWard" class="form-label">Phường/Xã</label>
                                <select class="form-select custom-select" asp-for="SelectedWard" required title="Vui lòng chọn Phường/Xã!">
                                    @{
                                        foreach (var ward in Model.Wards)
                                        {
                                            if (ward.WardId == Model.Address.WardId)
                                            {
                                                <option value="@ward.WardId" selected>@ward.WardName</option>
                                            }
                                            else
                                            {
                                                <option value="@ward.WardId">@ward.WardName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col c-o-6 c-6 form-group">
                                <label asp-for="Street" class="form-label">Địa chỉ</label>
                                <input asp-for="Street" type="text" class="form-control" placeholder="Nhập địa chỉ">
                                <span class="text-danger" asp-validation-for="Street"></span>
                            </div>
                        </div>
                        <div class="modal-footer border-0 px-0 mt-3 d-flex">
                            <div class="button px-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                            </div>
                            <div class="button px-0">
                                <button type="submit" class="btn btn-primary" id="submit-btn">Lưu địa chỉ</button>
                            </div>
                        </div>
                    </div>
                </form>
          </div>


      </div>

    </div>
    
</div>
@section scripts{
    <script>
        $(function () {
            $("#SelectedProvince").on("change", function () {
                var provinceId = $(this).val();
                $("#SelectedDistrict").empty();
                $("#SelectedWard").empty();
                $.getJSON(`?handler=Districts&SelectedProvince=${provinceId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#SelectedDistrict").append(`<option value="${item.districtId}">${item.districtName}</option>`);
                        if (i === 0) {
                            $.getJSON(`?handler=Wards&SelectedDistrict=${item.districtId}`, (data) => {
                                $.each(data, function (i, item) {
                                    $("#SelectedWard").append(`<option value="${item.wardId}">${item.wardName}</option>`);
                                });
                            });
                        }
                    });
                });
                console.log(districtId);
            });
        });
    </script>
    <script>
        $(function () {
            $("#SelectedDistrict").on("change", function () {
                var districtId = $(this).val();
                $("#SelectedWard").empty();
                $.getJSON(`?handler=Wards&SelectedDistrict=${districtId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#SelectedWard").append(`<option value="${item.wardId}">${item.wardName}</option>`);
                    });
                });
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}