@page
@using TADA.Utilities;
@model OrderDetailConfirmModel
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewData["Title"] = "Đơn hàng";
}

<div id="order-detail--confirm">
    <div class="grid">
        <div class="row">
            <div class="col c-7 c-o-1">
                <div class=" wrap-user grid">
                    <div class="recipient-infor" style="border-radius: 8px;">
                        <div class="recipient-infor__title row">
                            <div class="order__title col c-6">Thông tin người nhận</div>
                        </div>
                        <div class="recipient-infor__desc">
                            <p>@Model.Customer.Name, @Model.Order.TelephoneNumber</p>
                            <p>@Model.Address</p>
                        </div>
                    </div>
                    <div class="confirm__order-detail" style="border-radius: 8px;">
                        <div class="order__title">Sản phẩm</div>
                        <div class="confirm__book-list grid">
                            @foreach (var orderDetail in Model.OrderDetails)
                            {
                                var Book = Model.GetBookByOrderDetail(orderDetail);
                                var imgPath = Book.Image + "/cover.jpg";
                                <div class="cart__flex-item row">
                                    <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="order-book__img col c-2"><img src="@Url.Content(imgPath)" alt="Ảnh sách" style=" height: 150px"></a>
                                    <div class="cart__book-desc col c-6">
                                        <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="cart__book-name">
                                            @Book.Name
                                        </a>
                                        <p class="cart__book-provider">
                                            Nhà cung cấp:
                                            <span>@Book.Publisher</span>
                                        </p>
                                    </div>
                                    @if (Model.Order.StatusId == 4 || Model.Order.StatusId == 5)
                                    {
                                        <div class="col c-2">
                                            <div class="cart__book-price">
                                                @orderDetail.GetPriceString(orderDetail.Price) đ
                                            </div>
                                            <div class="cart__book-number" style="text-align:center;">
                                                Số lượng: @orderDetail.Quantity
                                            </div>
                                        </div>
                                        @if (Model.BookIsReviewed(Model.Order.Id, Book.Id))
                                        {
                                            <div class="cart__book-number col c-2" style="align-self:center;">
                                                Đã đánh giá
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="cart__book-number col c-2" style="align-self:center;">
                                                Chưa đánh giá
                                            </div>
                                        }

                                }
                                    else
                                    {
                                        <div class="cart__book-price col c-2">
                                            @orderDetail.GetPriceString(orderDetail.Price) đ
                                        </div>
                                        <div class="cart__book-number col c-2">
                                            Số lượng: @orderDetail.Quantity
                                        </div>
                                    }
                                    
                                </div>

                            }

                        </div>

                    </div>

                </div>
            </div>
            <div class="col c-3">
                <div class="nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                    <div class="order__title">
                        Chi tiết đơn hàng
                    </div>
                    <div class="order-detail__desc grid">
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng giá (@Model.OrderDetails.Count sách)</div>
                            <div class="col c-5" style="padding: 0; text-align:right;">@Model.GetPriceString(Model.SumPriceOfBooks()) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Phí giao hàng</div>
                            <div class="col c-5" style="padding: 0; text-align:right;">@Model.GetPriceString(Model.Order.ShipFee) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Tổng tiền</div>
                            <div class="col c-5" style="padding: 0; text-align:right; color:var(--primary-color);">@Model.GetPriceString(Model.SumPriceOfOrder()) đ</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;">Trạng thái đơn hàng:</div>
                            <div class="col c-5" style="padding: 0; text-align:right; color:var(--primary-color);">@Model.GetStatusOfOrder(Model.Order)</div>
                        </div>
                        <div class="row">
                            <div class="col c-7" style="padding: 0;font-size:14px;">Ngày cập nhật:</div>
                            <div class="col c-5" style="padding: 0; text-align:right; font-size:14px;">@UIHelper.DisplayDateOrder(Model.Order.UpdateDate)</div>
                        </div>
                    </div>
                    @if (Model.Order.StatusId == 1)
                    {
                        <div class="btn--confirm">
                            <button class="btn btn-primary cancelBtn" style="width:100%;">
                                HỦY ĐƠN HÀNG
                            </button>
                        </div>
                    }
                    else if (Model.Order.StatusId == 4)
                    {
                        <div class="btn--confirm">
                            <button class="btn--blue" style="width:100%;">
                                <a asp-area="Review" asp-page="EvaluateUser" asp-route-id="@Model.Order.Id">
                                    ĐÁNH GIÁ NGAY
                                </a>
                            </button>
                        </div>
                    }
                    else if (Model.Order.StatusId == 5)
                    {
                        <div class="btn--confirm">
                            <button class="btn--blue" style="width:100%;">
                                <a asp-area="Review" asp-page="EvaluateUser" asp-route-id="@Model.Order.Id">
                                    XEM ĐÁNH GIÁ
                                </a>
                            </button>
                        </div>
                    }
                </div>
        </div>
    </div>

    <!-- Modal -->
    <form class="modal-cancel-order js-modal-cancel-order" method="post">
        <div class="modal-container js-modal-container" style="width:500px;">
            <div class="modal-header order__title">
                Xác nhận hủy đơn hàng
            </div>
            <div class="modal-body row">
                
                <div class="modal-footer border-0 px-0 d-flex">
                    <div class="button px-0">
                            <button type="submit" class="btn btn-secondary" asp-page-handler="CancleOrder" asp-route-id="@Model.Order.Id" data-bs-dismiss="modal">Huỷ</button>
                    </div>
                    <div class="button px-0">
                            <button type="button" class="btn btn-primary js-modal-close" id="submit-btn">Quay lại</button>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
    <!-- JavaScript -->
    <script>
        const cancelOrderBtn=document.querySelector('#order-detail--confirm .cancelBtn');
        const modal=document.querySelector('#order-detail--confirm .js-modal-cancel-order');
        const modalClose_list=document.querySelectorAll('#order-detail--confirm .js-modal-close');


        function showModal(){
            modal.classList.add('open')
        }
        function hideModal(){
            modal.classList.remove('open')
        }

        cancelOrderBtn.addEventListener('click',showModal)

        for(const modalClose of modalClose_list){
            modalClose.addEventListener('click',hideModal)
        }
        
    </script>

</div>