@page
@model OrderListFillDoneModel
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewData["Title"] = "Đơn hàng";
}

<div id="order-list__all--fill">
    <div class="grid">
        <div class="row">
            <div class="col c-2 c-o-1">
                <div class="nav-oder-list__title nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                    <div class="order__title">
                        Đơn hàng của tôi
                    </div>
                    <div class="nav-order-list__title--detail grid">
                        <a asp-area="Order" asp-page="OrderListFillAll" class="nav-order-list__link">
                            <p>Tất cả</p>
                        </a>
                        <a asp-area="Order" asp-page="OrderListFillConfirm" class="nav-order-list__link">
                            <p>Chờ xác nhận</p>
                        </a>
                        <a asp-area="Order" asp-page="OrderListFillDeliver" class="nav-order-list__link">
                            <p>Chờ giao hàng</p>
                        </a>
                        <a asp-area="Order" asp-page="OrderListFillReview" class="nav-order-list__link">
                            <p>Chờ đánh giá</p>
                        </a>
                        <a asp-area="Order" asp-page="OrderListFillDone" class="nav-order-list__link" style="background-color:rgba(30, 144, 255, 0.1);">
                            <p>Đã đánh giá</p>
                        </a>
                        <a asp-area="Order" asp-page="OrderListFillCancel" class="nav-order-list__link">
                            <p>Đã hủy</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col c-8">
                <div class="order-list__title order__title row">Đã đánh giá</div>
                @if(Model.GetOrderCountByStatus(4) == 0)
                {
                    <div class="order-list__des--empty" style="border-radius: 8px;">
                        <div class="shopping-cart__img--empty">
                            <img src="~/img/ico_emptycart.svg" alt="Empty Shopping cart" width=100px>
                        </div>
                        <div class="shopping-cart__text--empty">
                            Danh sách đang trống
                        </div>
                        <button class="btn--blue">
                            <a asp-area="" asp-page="/Index">
                                MUA SẮM NGAY
                            </a>
                        </button>
                    </div>
                }
                else
                {
                    @foreach (var order in Model.Orders)
                    {
                        <div class="confirm__order-detail" style="border-radius: 8px;">
                            <div class="order__title row" method="post">
                                <a class="order-detail--link" asp-area="Order" asp-page="OrderDetailConfirm" asp-route-id="@order.Id">Xem chi tiết đơn hàng</a>
                                <p style="color: var(--primary-color);">@Model.GetStatusOfOrder(order.Id)</p>
                            </div>
                            <div class="confirm__book-list grid">

                                @{
                                    var OrderDetails = Model.GetOrderDetailsDto(order);
                                }
                                @foreach (var orderDetail in OrderDetails)
                                {
                                    var Book = Model.GetBookByOrderDetail(orderDetail);
                                    var imgPath = Book.Image + "/cover.jpg";
                                    <div class="cart__flex-item row">
                                        <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="order-book__img col c-2" style=" text-align: center;"><img src="@Url.Content(imgPath)" alt="Ảnh sách" style=" height: 150px;"></a>
                                        <div class="cart__book-desc col c-6">
                                            <a asp-area="Book" asp-page="BookDetailUser" asp-route-id="@Book.Id" class="cart__book-name">
                                                @Book.Name
                                            </a>
                                            <p class="cart__book-provider">
                                                Nhà cung cấp:
                                                <span>@Book.Publisher</span>
                                            </p>
                                        </div>
                                        <div class="cart__book-price col c-2">
                                            @orderDetail.GetPriceString(orderDetail.Price) đ
                                        </div>
                                        <div class="cart__book-number col c-2">
                                            Số lượng: @orderDetail.Quantity
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                }
                

            </div>
        </div>
    </div>
</div>