@page
@using TADA.Utilities;
@model OrderManagementModel
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml"; 
    ViewBag.Name = HttpContext.Session.GetString("Name");
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="feature">
            <div class="feature-item filter-search">
                <div class="filter-search-feature filter-search-container">
                    <div class="filter">
                        <span class="filter-search-heading" style="margin-right: 8px">Lọc theo :</span>
                        <div class="filter-feature">
                            <select class="select-filter filter-feature-item" name="filter-by-province" id="filter-by-province">
                                <option value="Tỉnh/thành: Tất cả">Tỉnh/thành: Tất cả</option>
                                <option value="Thừa Thiên - Huế">Thừa Thiên - Huế</option>
                                <option value="Đà Nẵng">Đà Nẵng</option>
                                <option value="Quảng Nam">Quảng Nam</option>
                            </select>                            
                            <select class="select-filter filter-feature-item" name="filter-by-price" id="filter-by-price">
                                <option value="Giá tiền: Tất cả">Giá tiền: Tất cả</option>
                                <option value="Dưới 50.000 đồng">Dưới 50.000 đồng</option>
                                <option value="50.000 - 100.000 đồng">50.000 - 100.000 đồng</option>
                                <option value="100.000 - 200.000 đồng">100.000 - 200.000 đồng</option>
                                <option value="200.000 - 500.000 đồng">200.000 - 500.000 đồng</option>
                                <option value="Trên 500.000 đồng">Trên 500.000 đồng</option>
                            </select>
                            <select class="select-filter filter-feature-item" name="filter-by-status" id="filter-by-status">
                                <option value="Trạng thái: Tất cả">Trạng thái: Tất cả</option>
                                <option value="Pending">Chờ xác nhận</option>
                                <option value="Waiting for delivery">Chờ giao hàng</option>
                                <option value="Delivered">Đã giao hàng</option>
                                <option value="Cancel order">Hủy đơn hàng</option>
                            </select>
                            <button class="feature-btn filter-feature-item">
                                Lọc
                            </button>
                        </div>
                    </div>
                    <div class="search-feature" style="margin-left: 0; margin-bottom: 4px">
                        <input type="text" class="search-feature-input" placeholder="Tìm kiếm đơn hàng">
                        <button class="feature-btn">
                            <i class="search-feature-btn-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="feature-item sort">
                <span class="sort-heading">Sắp xếp theo :</span>
                <div class="sort-feature">
                    <div class="sort-feature-item">
                        <select class="sort-by" name="sort-by" id="sort-by">
                            <option value="Thành tiền">Thành tiền</option>
                        </select>
                        <select class="sort-type" name="sort-type" id="sort-type">
                            <option value="Tăng dần">Tăng dần</option>
                            <option value="Giảm dần">Giảm dần</option>
                        </select>
                        <button class="feature-btn">
                            Sắp xếp
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="user-list-container">
            <div class="user-table">
                <table class="table" style="width: 100%; color: var(--primary-color)">
                    <tr class="table-row list-row">
                        <th style="width: 5%">STT</th>
                        <th style="width: 10%" >Mã đơn hàng</th>
                        <th style="width: 15%">Ngày đặt hàng</th>
                        <th style="width: 25%">Địa chỉ nhận hàng</th>
                        <th style="width: 10%">Số điện thoại</th>
                        <th style="width: 15%">Thành tiền (VND)</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 10%">Action</th>
                    </tr>    
                    @{
                        int cnt = 0;
                        foreach(var order in Model.Orders)
                        {
                            <tr class="table-container" style="color: var(--text-color)">
                                <th class="table-value list-value">@(++cnt)</th>
                                <td class="table-value list-value" style="font-weight: 600">@order.Id</td>
                                <td class="table-value list-value">@UIHelper.DisplayDateOrder(order.DateOrder)</td>
                                <td class="table-value list-value">@order.Address</td>
                                <td class="table-value list-value">@order.TelephoneNumber</td>
                                <td class="table-value list-value">@UIHelper.GetPriceString(order.Price)</td>
                                <td class="table-value list-value">@order.Status</td>
                                <td class="table-value list-value">
                                    <button class="action-btn">
                                        <i class="view-icon fa-regular fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="pagination-container">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Trang trước</a> 
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    
</div>
