@page
@using TADA.Utilities;
@model OrderManagementModel
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml"; 
    ViewBag.Name = HttpContext.Session.GetString("Name");
}
@{
    var datapaging = new
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = "/Order/OrderManagement/?Province=" + Model.Province + "&PriceRange=" + Model.PriceRange + "&StatusId=" + Model.StatusId + "&SortBy=" + Model.SortBy
    };
}
<div class="row">
    <div class="col-10 m-0 p-0 content">
        <form method="get" class="feature">
            <div class="feature-item filter-search">
                <div class="filter-search-feature filter-search-container">
                    <div class="filter">
                        <span class="filter-search-heading" style="margin-right: 8px">Lọc theo :</span>
                        <div class="filter-feature">
                            <select class="select-filter filter-feature-item" name="Province" id="filter-by-province" asp-for="Province">
                                <option value="All">Tỉnh/thành: Tất cả</option>
                                @foreach(var province in Model.Provinces)
                                {
                                    <option value="@province.ProvinceName">@province.ProvinceName</option>
                                }
                            </select>                            
                            <select class="select-filter filter-feature-item" name="PriceRange" id="filter-by-price" asp-for="PriceRange">
                                <option value="All">Giá tiền: Tất cả</option>
                                <option value="0,50000">Dưới 50.000 đồng</option>
                                <option value="50000,100000">50.000 - 100.000 đồng</option>
                                <option value="100000,200000">100.000 - 200.000 đồng</option>
                                <option value="200000,500000">200.000 - 500.000 đồng</option>
                                <option value="500000,10000000">Trên 500.000 đồng</option>
                            </select>
                            <select class="select-filter filter-feature-item" name="StatusId" id="filter-by-status" asp-for="StatusId">
                                <option value="0">Trạng thái: Tất cả</option>
                                <option value="1">Chờ xác nhận</option>
                                <option value="2">Chờ giao hàng</option>
                                <option value="3">Chờ đánh giá</option>
                                <option value="4">Đã đánh giá</option>
                                <option value="5">Hủy đơn hàng</option>
                            </select>
                            <button class="feature-btn filter-feature-item">
                                Lọc
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-item sort">
                <span class="sort-heading">Sắp xếp theo :</span>
                <div class="sort-feature">
                    <div class="sort-feature-item">
                        <select class="sort-by"id="sort-by">
                            <option value="Ngày tạo">Ngày tạo</option>
                        </select>
                        <select class="sort-type" name="SortBy" id="sort-type" value="">
                            @if (Model.SortBy.Equals("Desc"))
                            {
                                <option value="Desc" selected>Mới nhất</option>
                                <option value="Asc">Cũ nhất</option>
                            }
                            else
                            {
                                <option value="Desc" >Mới nhất</option>
                                <option value="Asc" selected>Cũ nhất</option>
                            }

                        </select>
                        <button class="feature-btn">
                            Sắp xếp
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <div class="user-list-container">
            <div class="user-table">
                <table class="table" style="width: 100%; color: var(--primary-color)">
                    <tr class="table-row list-row">
                        <th style="width: 5%">STT</th>
                        <th style="width: 10%" >Mã đơn hàng</th>
                        <th style="width: 15%">Ngày đặt hàng</th>
                        <th style="width: 25%">Địa chỉ nhận hàng</th>
                        <th style="width: 10%">Số điện thoại</th>
                        <th style="width: 15%">Thành tiền (VND)</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 10%">Action</th>
                    </tr>    
                    @{
                        int cnt = 0;
                        foreach(var order in Model.Orders)
                        {
                            <tr class="table-container" style="color: var(--text-color)">
                                <th class="table-value list-value">@(++cnt)</th>
                                <td class="table-value list-value" style="font-weight: 600">@order.Id</td>
                                <td class="table-value list-value">@UIHelper.DisplayDateOrder(order.DateOrder)</td>
                                <td class="table-value list-value">@order.Address</td>
                                <td class="table-value list-value">@order.TelephoneNumber</td>
                                <td class="table-value list-value">@UIHelper.GetPriceString(order.Price)</td>
                                <td class="table-value list-value">@order.Status</td>
                                <td class="table-value list-value">
                                    @if (Model.UserId == 0)
                                    {
                                        <ul class="btn-container">
                                            <li class="btn-item">
                                                <a href="@Url.Content("~/Order/OrderDetailAdmin/?handler=AllOrder&orderId=" + order.Id)" class="action-admin-btn">
                                                    <i class="view-icon fa-regular fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <ul class="btn-container">
                                                <li class="btn-item">
                                                    <button class="action-admin-btn" asp-page-handler="ViewOrderByUser" asp-route-id="@order.Id">
                                                        <i class="view-icon fa-regular fa-eye"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="pagination-container">
                <partial name="_PagingAdmin" model="datapaging" />
            </div>
        </div>

    </div>
    
</div>
